<ion-menu type="reveal" id="myMenu" [content]="content">
    <ion-header style="background-color: #633492;">

        <ion-card text-center class="hide-card" style="margin-top: 50px; background-color: #633492;">
            <div class="custom-avatar">
                <img src="assets/imgs/logo.png" />
                <span style="text-align: center; color: #fff">Conectando você a seus clientes</span>
            </div>
    
            <div style="margin-top: 20px;">
                <h2 style="color: #fff">{{ nomeFornecedor }}</h2>
                <h2 style="color: #fff">{{ nomePessoa }}</h2>
            </div>
            <!-- <hr> -->
        </ion-card>

    </ion-header>


    <ion-content style="background-color: #633492;">
        <ion-list style="margin-top: 7px;">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.no-click]="p.isVisible==false" style="background-color: #633492;">
                <ion-icon [name]="p.icon" item-left item-start color="light" *ngIf='p.isVisible'></ion-icon>
                <h4 *ngIf='p.isVisible' style="color: #fff">{{p.title}}</h4>
            </button>

            <ion-item menu-close ion-item color="white" (click)="confirmaLogout()" class="my-position-button" style="background-color: #633492;">
                <ion-icon ios="ios-exit" md="ios-exit" item-start color="light"></ion-icon>
                <h4 style="color: #fff">Sair</h4>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>