page-menu {
    .hide-card {
        -webkit-box-shadow: none!important;
    }
    .custom-avatar {
        height: auto;
        width: 200px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .custom-logo-tool-menu {
        position: absolute !important;
        top: 70px !important;
        right: 35px !important;
        width: 50px !important;
    }
}